
.home {
    
    
    height: 110%;
    width: 100%;
    color: white;
    text-align: left;
    /* display: flex;
    flex-direction: row; */
  }

  .home .box{
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    /* background: url('../images/leaves.png'); */
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  