html {
  scroll-behavior: smooth;
}



.home {
    
    background-size: cover;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
    
    /* display: flex;
    flex-direction: row; */
  }

  .home .box{
    font-family: 'Nanum Brush Script', cursive;
    font-size: 20px;
    position: relative;
    width: 550px;
    height: 700px;
    margin-left: 30%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  .home .hi{
    font-size: 80px;
    font-family: 'Patua One', cursive;
    text-align:center;
  }

  