.project {
    
    background-size: cover;
    height: 100%;
    width: 100%;
    color: black;
    
    /* display: flex;
    flex-direction: row; */
  }

.project .box{
    font-family: 'Patua One', cursive;
    font-size: 20px;
    position: relative;
    width: 550px;
    height: 700px;
    margin-left: 10%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    
  }